flows_Pi_Measure.json
[{"id":"9dcf23c2.6c9ca","type":"tab","label":"Local Weather","disabled":false,"info":""},{"id":"4cb47a0e.c0c154","type":"mqtt-broker","z":"","broker":"192.168.1.133","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"69d19704.177098","type":"influxdb","z":"","hostname":"192.168.1.133","port":"8086","protocol":"http","database":"weather","name":"","usetls":false,"tls":""},{"id":"f9655f1b.ef3c1","type":"i2c in","z":"9dcf23c2.6c9ca","name":"Read BH1750","address":"35","command":"16","count":"2","x":280,"y":60,"wires":[["eb3e8ede.0bd2f"]]},{"id":"6e0dfdec.2f6c74","type":"inject","z":"9dcf23c2.6c9ca","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":110,"y":60,"wires":[["f9655f1b.ef3c1"]]},{"id":"8ff2486f.42fc98","type":"debug","z":"9dcf23c2.6c9ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":690,"y":240,"wires":[]},{"id":"eb3e8ede.0bd2f","type":"change","z":"9dcf23c2.6c9ca","name":"Set lux","rules":[{"t":"set","p":"lux","pt":"msg","to":"$round(((msg.payload.1 + (256 * msg.payload.0)) / 1.2),2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":60,"wires":[["5714a6d3.d06238","a7aae33a.77a05"]]},{"id":"5714a6d3.d06238","type":"rpi-ds18b20","z":"9dcf23c2.6c9ca","topic":"","array":true,"name":"","x":270,"y":100,"wires":[["fa9014ec.7f1588"]]},{"id":"fa9014ec.7f1588","type":"change","z":"9dcf23c2.6c9ca","name":"Set Temps","rules":[{"t":"set","p":"outsideTemp","pt":"msg","to":"$round(payload[0].temp,2)\t","tot":"jsonata"},{"t":"set","p":"insideTemp","pt":"msg","to":"$round(payload[1].temp,2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[["3d7d5b4a.6c18e4"]]},{"id":"87415a4a.7c5f18","type":"change","z":"9dcf23c2.6c9ca","name":"Prep Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t{\t\"outsideTemp\":outsideTemp,\t\"insideTemp\":insideTemp,\t\"seaPressure\":sea,\t\"backLux\":lux,\t\"outsideTempFront\":$globalContext(\"PortTemp\")\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["8ff2486f.42fc98","6c259504.64ed2c"]]},{"id":"6c259504.64ed2c","type":"influxdb out","z":"9dcf23c2.6c9ca","influxdb":"69d19704.177098","name":"Influxdb Weather/local","measurement":"local","precision":"","retentionPolicy":"one_week","x":720,"y":180,"wires":[]},{"id":"f25ef5c8.43e148","type":"change","z":"9dcf23c2.6c9ca","name":"Set sea","rules":[{"t":"set","p":"sea","pt":"msg","to":"$number($trim(payload)) * 10 * $power((1.0 - (0.0065 * 175.0) / (16.0 + 0.0065 * 175.0 + 273.15)), -5.257)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["87415a4a.7c5f18"]]},{"id":"3d7d5b4a.6c18e4","type":"file in","z":"9dcf23c2.6c9ca","name":"raw Pressure BMP180","filename":"/sys/devices/platform/soc/20804000.i2c/i2c-1/1-0077/iio:device0/in_pressure_input","format":"utf8","chunk":false,"sendError":false,"x":300,"y":140,"wires":[["f25ef5c8.43e148"]]},{"id":"956bb439.9fcff8","type":"mqtt out","z":"9dcf23c2.6c9ca","name":"","topic":"","qos":"2","retain":"true","broker":"4cb47a0e.c0c154","x":790,"y":60,"wires":[]},{"id":"a7aae33a.77a05","type":"change","z":"9dcf23c2.6c9ca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(lux)","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"lux","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":60,"wires":[["956bb439.9fcff8"]]},{"id":"b1dbef46.c00ce","type":"change","z":"9dcf23c2.6c9ca","name":"","rules":[{"t":"set","p":"PortTemp","pt":"global","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":300,"wires":[[]]},{"id":"75f226e9.fb8288","type":"mqtt in","z":"9dcf23c2.6c9ca","name":"","topic":"HuzzTemp","qos":"2","broker":"4cb47a0e.c0c154","x":80,"y":280,"wires":[["b1dbef46.c00ce"]]},{"id":"1e388f0e.3bcae1","type":"change","z":"9dcf23c2.6c9ca","name":"","rules":[{"t":"set","p":"PortHum","pt":"global","to":"$number($trim(payload))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[[]]},{"id":"6375beef.0754","type":"mqtt in","z":"9dcf23c2.6c9ca","name":"","topic":"PortHum","qos":"2","broker":"4cb47a0e.c0c154","x":80,"y":360,"wires":[["1e388f0e.3bcae1"]]}]